################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/tRAYce/v16
/.vs/tRAYce/config
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/tasks.vs.json
